<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lecong.org</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Barlow:300,400,600" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    {{ content | safe }}
</body>

</html>
