<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lecong.org</title>
    <link rel="stylesheet" href="/css/fontawesome.min.css"/>
    <link rel="stylesheet" href="/css/brands.min.css"/>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="bg-slate-100 text-slate-800 flex justify-center">
    {{ content | safe }}
</body>

</html>
